<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everwing.coreservice.platform.dao.mapper.extra.IdGenExtraMapper">
  <resultMap id="BaseResultMap" type="com.everwing.coreservice.common.platform.entity.extra.IdGen">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <insert id="getMaxId" parameterType="com.everwing.coreservice.common.platform.entity.extra.IdGen" keyProperty="id" useGeneratedKeys="true">
    replace INTO id_gen (type) values (#{type})
  </insert>
</mapper>