<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everwing.coreservice.wy.fee.dao.mapper.ProjectPrestoreDetailMapper">
  <resultMap id="BaseResultMap" type="com.everwing.coreservice.common.wy.fee.entity.ProjectPrestoreDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="prestore_account" jdbcType="VARCHAR" property="prestoreAccount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="house_code_new" jdbcType="VARCHAR" property="houseCodeNew" />
    <result column="business_opera_detail_id" jdbcType="VARCHAR" property="businessOperaDetailId" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="pay_way" jdbcType="INTEGER" property="payWay" />
  </resultMap>
  <resultMap id="hasScheduleInfoResultMap" extends="BaseResultMap" type="com.everwing.coreservice.common.wy.fee.entity.AccountAddPrestoreParameter">
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="building_full_name" jdbcType="VARCHAR" property="buildingFullName" />
    <result column="countId" jdbcType="INTEGER" property="countId" />
    <result column="accountMoney" jdbcType="DECIMAL" property="accountMoney" />
    <result column="house_code" jdbcType="VARCHAR" property="houseCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, prestore_account, amount, create_time, create_by, type, business_type, order_id, 
    house_code_new, business_opera_detail_id
  </sql>

  <select id="counPrestoreDetailAmount" resultMap="hasScheduleInfoResultMap">
    select COUNT(id) countId,ifnull(SUM(amount),0) accountMoney
    from t_project_prestore_detail
    where prestore_account in(
    select id from t_project_prestore_account
    where project_account_id =
    (select id from t_project_account
    where  company_id=#{companyId} and project_id=#{projectId} )
    )
    <if test="accountType != null and accountType != ''">
      AND type=#{accountType}
    </if>

    <if test="businessType != null and businessType != ''">
      AND  business_type=#{businessType}
    </if>
    <if test="startTime != null and startTime != ''">
      AND  DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S') <![CDATA[ <= ]]>  DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S')
    </if>
    <if test="endTime != null and endTime != ''">
      AND  DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S') <![CDATA[ >= ]]>  DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S')
    </if>
    <if test="payType != null and payType != ''">
      and business_opera_detail_id in(
      select batch_no FROM t_bs_pay_info where pay_type= #{payType})
    </if>
  </select>
  <select id="listPageSelectByAllPrestoreAndIdAll" parameterType="com.everwing.coreservice.common.wy.fee.entity.IncomingParameter" resultMap="hasScheduleInfoResultMap">
    select
    a.*,c.building_full_name,b.pay_type,c.house_code
    from t_project_prestore_detail a
    left join  t_bs_pay_info b on a.business_opera_detail_id =b.batch_no
    left join tc_building c on a.house_code_new=c.house_code
    where a.prestore_account in(
    select id from t_project_prestore_account
    where project_account_id =
    (select id from t_project_account
    where  company_id=#{companyId} and project_id=#{projectId} )
    )
    <if test="accountType != null and accountType != 'A'">
      AND type=#{accountType}
    </if>

    <if test="businessType != null and businessType != ''">
      AND  business_type=#{businessType}
    </if>
    <if test="startTime != null and startTime != ''">
      AND  DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S') <![CDATA[ <= ]]>  DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S')
    </if>
    <if test="endTime != null and endTime != ''">
      AND  DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S') <![CDATA[ >= ]]>  DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i:%S')
    </if>
    <if test="payType != null and payType != ''">
      and business_opera_detail_id in(
      select batch_no FROM t_bs_pay_info where pay_type= #{payType})
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_project_prestore_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByOperaIdAndType"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_project_prestore_detail
    where business_opera_detail_id = #{businessOperaDetailId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_project_prestore_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.everwing.coreservice.common.wy.fee.entity.ProjectPrestoreDetail">
    insert into t_project_prestore_detail (id, prestore_account, amount, 
      create_time, create_by, type, 
      business_type, order_id, house_code_new, 
      business_opera_detail_id)
    values (#{id,jdbcType=VARCHAR}, #{prestoreAccount,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{businessType,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{houseCodeNew,jdbcType=VARCHAR},
      #{businessOperaDetailId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.everwing.coreservice.common.wy.fee.entity.ProjectPrestoreDetail">
    insert into t_project_prestore_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="prestoreAccount != null">
        prestore_account,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="houseCodeNew != null">
        house_code_new,
      </if>
      <if test="businessOperaDetailId != null">
        business_opera_detail_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="prestoreAccount != null">
        #{prestoreAccount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="houseCodeNew != null">
        #{houseCodeNew,jdbcType=VARCHAR},
      </if>
      <if test="businessOperaDetailId != null">
        #{businessOperaDetailId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.everwing.coreservice.common.wy.fee.entity.ProjectPrestoreDetail">
    update t_project_prestore_detail
    <set>
      <if test="prestoreAccount != null">
        prestore_account = #{prestoreAccount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="houseCodeNew != null">
        house_code_new = #{houseCodeNew,jdbcType=VARCHAR},
      </if>
      <if test="businessOperaDetailId != null">
        business_opera_detail_id = #{businessOperaDetailId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.everwing.coreservice.common.wy.fee.entity.ProjectPrestoreDetail">
    update t_project_prestore_detail
    set prestore_account = #{prestoreAccount,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      house_code_new = #{houseCodeNew,jdbcType=VARCHAR},
      business_opera_detail_id = #{businessOperaDetailId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectProjectPrestoreDetailByOrderId" parameterType="java.lang.String" resultType="com.everwing.coreservice.common.wy.fee.entity.ProjectPrestoreDetail">

  SELECT  * from t_project_prestore_detail where order_id=#{orderId}
  </select>
</mapper>