<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everwing.coreservice.wy.fee.dao.mapper.TBsPayInfoMapper">

  <insert id="batchInsert" parameterType="com.everwing.coreservice.common.wy.entity.account.pay.TBsPayInfo">
  	   insert into t_bs_pay_info
  	   (
  	   		id, 
  	   		project_id, 
  	   		building_code, 
      		pay_type,
      		status,
      		building_full_name, 
      		asset_no, cust_name, 
      		wy_amount, 
      		bt_amount, 
      		water_amount, 
      		elect_amount, 
      		common_amount, 
      		jm_amount, 
      		jm_remark, 
      		wy_tax,
      		bt_tax,
      		water_tax,
      		elect_tax,
      		pay_cash,
      		pay_wx,
      		pay_union,
      		pay_zfb,
      		pay_coll,
      		pay_bank,
      		create_time, 
      		create_id, 
      		modify_time, 
      		modify_id,
      		payer_name,
      		is_give_invoice,
      		batch_no,
      		relation_id,
      		wy_late_fee,
      		bt_late_fee,
      		water_late_fee,
      		elect_late_fee
  	   )
  	   values
  	   <foreach collection="list" item="info" open="" close="" separator=",">
  	   (
			 #{info.id,jdbcType=VARCHAR}, 
			 #{info.projectId,jdbcType=VARCHAR}, 
			 #{info.buildingCode,jdbcType=VARCHAR}, 
			 #{info.payType,jdbcType=TINYINT},
			 #{info.status,jdbcType=TINYINT},
      		 ifnull((select building_full_name from tc_building where building_code = #{info.buildingCode} order by create_time desc limit 0,1),""),
      		 #{info.buildingCode,jdbcType=VARCHAR}, 
      		 #{info.custName,jdbcType=VARCHAR}, 
      		 ifnull(#{info.wyAmount,jdbcType=DOUBLE},0), 
      		 ifnull(#{info.btAmount,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.waterAmount,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.electAmount,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.commonAmount,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.jmAmount,jdbcType=DOUBLE}, 0),
      		 #{info.jmRemark,jdbcType=VARCHAR}, 
      		 ifnull(#{info.wyTax,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.btTax,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.waterTax,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.electTax,jdbcType=DOUBLE},0),
      		 ifnull(#{info.payCash,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.payWx,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.payUnion,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.payZfb,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.payColl,jdbcType=DOUBLE}, 0),
      		 ifnull(#{info.payBank,jdbcType=DOUBLE}, 0),
      		 sysdate(),
      		 #{info.createId,jdbcType=VARCHAR}, 
      		 sysdate(),
      		 #{info.modifyId,jdbcType=VARCHAR},
      		 #{info.payerName,jdbcType=VARCHAR},
      		 #{info.isGiveInvoice,jdbcType=TINYINT},
      		 #{info.batchNo,jdbcType=VARCHAR},
      		 #{info.relationId,jdbcType=VARCHAR},
      		 #{info.wyLateFee,jdbcType=DOUBLE},	   
      		 #{info.btLateFee,jdbcType=DOUBLE},	   
      		 #{info.waterLateFee,jdbcType=DOUBLE},	   
      		 #{info.electLateFee,jdbcType=DOUBLE}	   
  	   )
  	   </foreach>
  </insert>
	<insert id="insert" parameterType="com.everwing.coreservice.common.wy.entity.account.pay.TBsPayInfo">
		<!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Oct 24 16:25:32 CST 2017.
        -->
		insert into t_bs_pay_info (id, project_id, building_code,
		building_full_name, pay_type, status, asset_no, cust_name,
		wy_amount, bt_amount, water_amount,
		elect_amount, common_amount, jm_amount,
		jm_remark, wy_tax,bt_tax,water_tax,elect_tax,pay_cash,pay_wx,pay_union,pay_zfb,pay_coll,pay_bank,
		create_time, create_id,modify_time, modify_id,payer_name,is_give_invoice,batch_no,relation_id,
		wy_late_fee,bt_late_fee,water_late_fee,elect_late_fee)
		values (#{id,jdbcType=VARCHAR},
		#{projectId,jdbcType=VARCHAR},
		#{buildingCode,jdbcType=VARCHAR},
		#{buildingFullName,jdbcType=VARCHAR},
		#{payType,jdbcType=TINYINT},
		#{status,jdbcType=TINYINT},
		#{buildingCode,jdbcType=VARCHAR},
		#{custName,jdbcType=VARCHAR},
		ifnull(#{wyAmount,jdbcType=DOUBLE}, 0),
		ifnull(#{btAmount,jdbcType=DOUBLE},  0),
		ifnull(#{waterAmount,jdbcType=DOUBLE}, 0),
		ifnull(#{electAmount,jdbcType=DOUBLE}, 0),
		ifnull(#{commonAmount,jdbcType=DOUBLE}, 0),
		ifnull(#{jmAmount,jdbcType=DOUBLE}, 0),
		#{jmRemark,jdbcType=VARCHAR},
		ifnull(#{wyTax,jdbcType=DOUBLE}, 0),
		ifnull(#{btTax,jdbcType=DOUBLE}, 0),
		ifnull(#{waterTax,jdbcType=DOUBLE}, 0),
		ifnull(#{electTax,jdbcType=DOUBLE}, 0),
		ifnull(#{payCash,jdbcType=DOUBLE}, 0),
		ifnull(#{payWx,jdbcType=DOUBLE}, 0),
		ifnull(#{payUnion,jdbcType=DOUBLE}, 0),
		ifnull(#{payZfb,jdbcType=DOUBLE}, 0),
		ifnull(#{payColl,jdbcType=DOUBLE}, 0),
		ifnull(#{payBank,jdbcType=DOUBLE}, 0),
		sysdate(),
		#{createId,jdbcType=VARCHAR},
		sysdate(),
		#{modifyId,jdbcType=VARCHAR},
		#{payerName,jdbcType=VARCHAR},
		#{isGiveInvoice,jdbcType=TINYINT},
		#{batchNo},
		#{relationId,jdbcType=VARCHAR},
		#{wyLateFee,jdbcType=DOUBLE},
		#{btLateFee,jdbcType=DOUBLE},
		#{waterLateFee,jdbcType=DOUBLE},
		#{electLateFee,jdbcType=DOUBLE}
		)
	</insert>

</mapper>