<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://code.alibabatech.com/schema/dubbo
			  http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    						http://www.springframework.org/schema/beans
    	      http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>file:/app/server/payment/conf.properties</value>
				<value>file:/app/cache/redis.properties</value>
			</array>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="properties" ref="defaultOrderServiceProperties" />
	</bean>

	<bean name="defaultOrderServiceProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<array>
				<value>classpath:config/conf.properties</value>
				<value>classpath:config/redis.properties</value>
			</array>
		</property>
	</bean>
	<dubbo:application name="dubbo-payment-server" />

    <import resource="classpath:spring/spring-application-redis.xml"/>
	<import resource="classpath:spring/spring-coreservice-commom.xml" />
	<import resource="classpath:spring/dubbo-coreservice-wy-fee-api-config.xml" />
	<import resource="classpath:spring/dubbo-coreservice-platform-api-config.xml" />
	<import resource="classpath:spring/dubbo-coreservice-wy-api-config.xml"/>
</beans>