<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="false">

    <dubbo:protocol name="${solr-coreservice.dubbo.protocol.name}" port="${solr-coreservice.dubbo.protocol.port}"/>
    <dubbo:application name="${solr-coreservice.dubbo.application.name}"/>
    <dubbo:registry address="${solr-coreservice.dubbo.registry.address}" file="${catalina.home}/dubbo-registry/dubbo-registry.properties"/>


    <!-- solr测试 -->
    <dubbo:service id="springDataSolrDemoService" interface="com.everwing.coreservice.common.solr.service.demo.SpringDataSolrDemoService" ref="springDataSolrDemoServiceImpl"/>

    <dubbo:service id="customerSolrService" interface="com.everwing.coreservice.common.solr.service.customer.CustomerSolrService" ref="customerSolrServiceImpl"/>
</beans>