<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!--  切面代理 -->
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="com.everwing.coreservice.wy.dao" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>file:/app/coreservice/wy/dao/jdbc.properties</value>
			</array>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="properties" ref="defaultUserServiceClientProperties" />
	</bean>

	<bean name="defaultUserServiceClientProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<array>
				<value>classpath:jdbc.properties</value>
			</array>
		</property>
		<property name="ignoreResourceNotFound" value="true"/>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.wy.driver}" />
		<property name="username" value="${jdbc.wy.username}" />
		<property name="password" value="${jdbc.wy.password}" />
		<property name="url" value="${jdbc.wy.url}" />
	</bean>

	<!-- 动态数据源 -->
	<bean id="dynamicDataSource" class="com.everwing.coreservice.wy.datasource.DynamicDataSource">
		<property name="defaultTargetDataSource" ref="dataSource"></property>
		<property name="targetDataSources">
			<map></map>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis.xml" />
		<property name="mapperLocations" value="classpath:com/everwing/coreservice/wy/dao/mapper/**/*Mapper.xml"/>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.everwing.coreservice.wy.dao.mapper" />
	</bean>

	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dynamicDataSource"/>
		<property name="globalRollbackOnParticipationFailure" value="false" />
 	</bean>

	<tx:annotation-driven  transaction-manager="transactionManager" />
</beans>
