<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" ><mapper namespace="com.everwing.coreservice.wy.dao.mapper.common.TFieldsMapper">	<resultMap id="TFieldsResultMap" type="TFields">		<result property="id" column="id"/>		<result property="tableId" column="table_id"/>		<result property="fieldName" column="field_name"/>		<result property="fieldType" column="field_type"/>		<result property="fieldLength" column="field_length"/>		<result property="displayName" column="display_name"/>		<result property="displayFlag" column="display_flag"/>		<result property="required" column="required"/>		<result property="orderIndex" column="order_index"/>	</resultMap>	<!-- 根据表标识获取该表的字段数量 -->	<select id="getFieldsCountByTableId" parameterType="String" resultType="int">		SELECT COUNT(*) FROM t_fields f WHERE f.table_id = #{0}	</select></mapper>