<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.everwing.coreservice.wy.dao.mapper.delivery.TJgDepositReceiptMapper">
	<resultMap id="BaseResultMap" type="TJgDepositReceipt">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="total_id" property="totalId" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="DOUBLE" />
		<result column="deposit_num" property="depositNum" jdbcType="VARCHAR" />
		<result column="opr_id" property="oprId" jdbcType="VARCHAR" />
		<result column="opr_name" property="oprName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addDepositReceipt" parameterType="TJgDepositReceipt">
		INSERT INTO t_jg_deposit_receipt 
		VALUES(
			#{id},
			#{totalId},
			#{depositNum},
			#{amount},
			#{oprId},
			#{oprName},
			SYSDATE(),
			#{projectId},
			#{projectName}
		)
	</insert>


	<!-- 根据结算总账单id查询存单信息 -->
	<select id="getDepositReceiptInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM t_jg_deposit_receipt WHERE total_id=#{totalId}
	</select>
	
	
	<!-- 查询交账前插入的存单信息 -->
	<select id="getDpositReceipInfoForGive" parameterType="java.lang.String"  resultMap="BaseResultMap">
		SELECT
		  id,
		  deposit_num,
		  amount
		FROM
		  t_jg_deposit_receipt
		WHERE opr_id = #{1}
		  AND total_id IS NULL
		  AND project_id = #{0}
	</select>
	
	<delete id="delDpositReceipInfoById" parameterType="java.lang.String">
		DELETE FROM t_jg_deposit_receipt WHERE id=#{id} AND total_id IS NULL 
	</delete>
	
	
	<update id="updateTotalId" parameterType="java.lang.String">
		UPDATE t_jg_deposit_receipt SET total_id=#{0} WHERE total_id IS NULL AND opr_id=#{1} AND project_id=#{2}
	</update>
	
	<update id="updateTotalIdById" parameterType="java.util.List">
		UPDATE t_jg_deposit_receipt SET total_id = NULL 
		WHERE total_id IN
		<foreach collection="list" item="id" open="(" close=")" separator=",">
  			#{id}
  		</foreach>
	</update>
	
	
	<select id="listPageDepositsInfo" parameterType="TJgDepositReceipt" resultMap="BaseResultMap">
		SELECT
		   id,
		  deposit_num,
		  amount
		FROM
		  t_jg_deposit_receipt
		WHERE total_id IN
		  (SELECT
		    id
		  FROM
		    t_jg_total_calculation
		  WHERE 
		  	receive_id = #{oprId}
		    AND project_id = #{projectId}
		    AND total_id IS NULL
		    AND STATUS = 3)
	</select>
	
	<select id="listPageDepositsInfoKJ" parameterType="TJgDepositReceipt" resultMap="BaseResultMap">
		SELECT
		   id,
		  deposit_num,
		  amount
		FROM
		  t_jg_deposit_receipt
		WHERE total_id IN
		  (SELECT
		    id
		  FROM
		    t_jg_total_calculation
		  WHERE total_id=#{totalId}
		    AND STATUS = 3)
	</select>
	
</mapper>