<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/context      http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans      http://www.springframework.org/schema/beans/spring-beans.xsd  



    http://code.alibabatech.com/schema/dubbo	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<dubbo:application name="${admin-server.dubbo.application.name}" />

	<dubbo:registry address="${admin-server.dubbo.registry.address}" protocol="zookeeper"/>

	<dubbo:protocol name="${admin-server.dubbo.protocol.name}"
		port="${admin-server.dubbo.protocol.port}" />

	<!-- <context:property-placeholder location="classpath:concommonConf.propertiesties"
		ignore-unresolvable="true"/> -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>file:/app/server/admin/conf.properties</value>
			</array>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="properties" ref="defaultAdminServerOrderServiceProperties" />
	</bean>

	<bean name="defaultAdminServerOrderServiceProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<array>
				<value>classpath:config/conf.properties</value>
			</array>
		</property>
	</bean>



	<context:component-scan base-package="com.everwing.server.admin" />
	<import resource="classpath:spring/dubbo-coreservice-platform-api-config.xml" />
	<import resource="classpath:spring/dubbo-coreservice-wy-api-config.xml"/>
	<import resource="classpath:spring/dubbo-coreservice-admin-api-config.xml" />
	<import resource="classpath:spring/spring-shiro.xml" />
	<import resource="classpath:spring/spring-mvc.xml" />
	<import resource="classpath:spring/spring-coreservice-commom.xml" />
</beans>