<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  






    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  




	http://www.springframework.org/schema/task    
	http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>file:/app/coreservice/wy/dubbo/coreservice-wy-fee.properties</value>
                <value>file:/app/coreservice/wyfee/config/mq-config.properties</value>
                <value>file:/app/coreservice/common/conf.properties</value>
            </array>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="properties" ref="defaultWyCoreServiceProperties"/>
    </bean>

    <bean name="defaultWyCoreServiceProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <array>
                <value>classpath:config/coreservice-wy-fee.properties</value>
                <value>classpath:config/mq-config.properties</value>
            </array>
        </property>
    </bean>


    <!-- json处理 start-->
    <bean id="jsonMessageConverter" class="com.everwing.coreservice.common.convert.FastJsonMessageConverter"/>
    <!-- json处理 end-->

    <!--  切面代理 -->
    <aop:aspectj-autoproxy/>
    <!-- 定时任务quartz -->
    <task:annotation-driven/>
    <context:component-scan base-package="com.everwing.coreservice.wy.fee.core"/>

    <!--  redis缓存 -->
    <import resource="classpath:spring/spring-application-redis.xml"/>
    <import resource="classpath:spring-dubbo-wy-fee-service.xml"/>
    <import resource="classpath:spring-wy-fee-dao.xml"/>
    <import resource="classpath:spring/dubbo-coreservice-platform-api-config.xml"/>
    <import resource="classpath:spring/spring-coreservice-commom.xml"/>
    <import resource="classpath:spring-rabbitmq.xml"/>
</beans>
