<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.everwing.autotask.core.dao.PushPayInfoToFinanceMapper">
	<resultMap type="PushPayInfoToFinance" id="BaseResultMap">
		<result property="id" column="id" jdbcType="VARCHAR"/>
		<result property="company" column="company"  jdbcType="VARCHAR"/>
		<result property="projectName" column="project_name"  jdbcType="VARCHAR"/>
		<result property="projectId" column="project_id"  jdbcType="VARCHAR"/>
		<result property="tollProject" column="toll_project"  jdbcType="VARCHAR"/>
		<result property="incomeMoney" column="income_money"  jdbcType="DOUBLE"/>
		<result property="taxMoney" column="tax_money"  jdbcType="DOUBLE"/>
		<result property="tariff" column="tariff"  jdbcType="VARCHAR"/>
		<result property="currency" column="currency"  jdbcType="VARCHAR"/>
		<result property="tollMode" column="toll_mode" jdbcType="VARCHAR"/>
		<result property="tollType" column="toll_type" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="tollDate" column="toll_date" jdbcType="TIMESTAMP"/>
		<result property="housesCode" column="houses_code" jdbcType="VARCHAR"/>
		<result property="result" column="result" jdbcType="VARCHAR"/>
		<result property="message" column="message" jdbcType="VARCHAR"/>
		<result property="batch" column="batch" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="addPushPayInfo" parameterType="PushPayInfoToFinance">
		INSERT INTO t_bs_push_finance_data
			VALUES(
				#{id},
				#{company},
				#{projectName},
				#{projectId},
				#{tollDate},
				#{tollProject},
				#{incomeMoney},
				#{taxMoney},
				#{tariff},
				#{currency},
				#{tollMode},
				#{tollType},
				#{housesCode},
				NOW(),
				#{result},
				#{message},
				#{batch}
				)
	</insert>
	
	<update id="updataPushPayInfo" parameterType="PushPayInfoToFinance">
		UPDATE t_bs_push_finance_data
			SET result = #{result},
			 message = #{message}
			WHERE
				batch = #{batch}
	</update>
	
	
	<!-- 这里做一个批量插入，把推送的数据进行记录，获得WC返还后直接进行状态修改 -->
	<insert id="batchInsert"  parameterType="java.util.List">
		INSERT INTO t_bs_push_finance_data
		(id,company,project_name,project_id,toll_date,toll_project,income_money,tax_money,tariff,currency,toll_mode,toll_type,houses_code,create_time,result,message,batch)
		VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
				UPPER(UUID()),
				#{item.company},
				#{item.projectName},
				#{item.projectId},
				#{item.tollDate},
				#{item.tollProject},
				#{item.incomeMoney},
				#{item.taxMoney},
				#{item.tariff},
				#{item.currency},
				#{item.tollMode},
				#{item.tollType},
				#{item.housesCode},
				NOW(),
				#{item.result},
				#{item.message},
				#{item.batch}
		)
		</foreach>
	</insert>
	
	
	
	<select id = "getSchemeTaxRate" parameterType="java.lang.String" resultType = "java.util.Map">
		SELECT
			(
				CASE scheme_type
				WHEN 1 THEN
					'wy'
				WHEN 2 THEN
					'bt'
				WHEN 3 THEN
					'water'
				WHEN 4 THEN
					'elect'
				END
			) type,
			tax_rate rate
		FROM
			t_bs_charging_scheme
		WHERE
			project_id = #{projectId}
		AND is_used = 0
		GROUP BY
			scheme_type
	
	</select>
	
	
	<!-- 按照类型查询，这里作一个调整，根据项目来查询最后推送时间 -->
	<select id="getLastPushInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT
		  MAX(toll_date) createTime
		FROM
		  t_bs_push_finance_data
		WHERE project_id = #{projectId}
		AND batch LIKE CONCAT('%',#{tollProject},'%')
<!-- 		  AND toll_type = #{tollType} -->
<!-- 		  AND toll_project = #{tollProject} -->
		  AND result='success'
		LIMIT 1
	</select>



	<select id = "getSchemeTaxRateDouble" parameterType="java.lang.String" resultType = "java.util.Map">
		SELECT
		(
		CASE scheme_type
		WHEN 1 THEN
		'wy'
		WHEN 2 THEN
		'bt'
		WHEN 3 THEN
		'water'
		WHEN 4 THEN
		'elect'
		END
		) type,
		tax_rate rate
		FROM
		t_bs_charging_scheme
		WHERE
		project_id = #{projectId}
		AND is_used = 0
		GROUP BY
		scheme_type

	</select>
	<select id="getPushDataCount" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
		count(*) as dataCount
		FROM
		t_bs_push_finance_data
		WHERE project_id = #{projectId}
		AND result='success'

		and  date_format(now(),'%Y-%m-%d')= date_format(create_time,'%Y-%m-%d')

	</select>
	
</mapper>
