<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.everwing.autotask.core.dao.TJgAccountReceivableMapper">
	<resultMap id="BaseResultMap" type="TJgAccountReceivable">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="payer_name" property="payerName" jdbcType="VARCHAR" />
		<result column="payed_type" property="payedType" jdbcType="TINYINT" />
		<result column="payed_time" property="payedTime" jdbcType="TIMESTAMP" />
		<result column="pay_wx" property="payWx" jdbcType="DOUBLE" />
		<result column="alipay" property="alipay" jdbcType="DOUBLE" />
		<result column="pay_cash" property="payCash" jdbcType="DOUBLE" />
		<result column="pay_union" property="payUnion" jdbcType="DOUBLE" />
		<result column="bank_receipts" property="bankReceipts" jdbcType="DOUBLE" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="opr_id" property="oprId" jdbcType="VARCHAR" />
		<result column="opr_name" property="oprName" jdbcType="VARCHAR" />
		<result column="trad_no" property="tradNo" jdbcType="VARCHAR" />
		<result column="project_id" property="projectId" jdbcType="VARCHAR" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="total_id" property="totalId" jdbcType="VARCHAR" />
		<result column="relation_id" property="relationId" jdbcType="VARCHAR" />
		<result column="business_type" property="businessType" jdbcType="TINYINT" />
		
	</resultMap>

	<update id="modify" parameterType="TJgAccountReceivable">
		update t_jg_account_receivable 
		<set>
			<if test="null != payerName"> payer_name = #{payerName}, </if>
			<if test="null != payedType"> payed_type = #{payedType}, </if>
			<if test="null != payedTime"> payed_time = #{payedTime}, </if>
			<if test="null != payWx">	  pay_wx = #{payWx}, 		 </if>
			<if test="null != alipay">	  pay_wx = #{alipay}, 		 </if>
			<if test="null != payCash">   pay_cash = #{payCash},	 </if>
			<if test="null != payUnion">  pay_union = #{payUnion},	 </if>
			<if test="null != bankReceipts">bank_receipts = #{bankReceipts}, </if>
			<if test="null != status">	  status = #{status},		 </if>
			<if test="null != oprId">	  opr_id = #{oprId},		 </if>
			<if test="null != oprName">	  opr_name = #{oprName},	 </if>
			<if test="null != tradNo">	  trad_no = #{tradNo},		 </if>
			<if test="null != projectId"> project_id = #{projectId}, </if>
			<if test="null != projectName">project_name = #{projectName},</if>
			<if test="null != totalId">	  total_id = #{totalId},	 </if>
			<if test="null != relationId">relation_id = #{relationId},</if>
		</set>
		where id = #{id}
	</update>
	
	<insert id="addAccountReceivable" parameterType="TJgAccountReceivable">
		INSERT INTO t_jg_account_receivable 
		(
			id,
			trad_no,
			payer_name,
			payed_type,
			payed_time,
			pay_wx,
			alipay,
			pay_cash,
			pay_union,
			bank_receipts,
			status,
			opr_id,
			opr_name,
			project_id,
			project_name,
			total_id,
			relation_id,
			business_type
		)
		VALUES(
			#{id},
			#{tradNo},
			#{payerName},
			#{payedType},
			SYSDATE(),
			#{payWx},
			#{alipay},
			#{payCash},
			#{payUnion},
			#{bankReceipts},
			#{status},
			#{oprId},
			#{oprName},
			#{projectId},
			#{projectName},
			#{totalId},
			#{relationId},
			#{businessType}
		)
	</insert>

	
	<select id="listPageAcountReceiveInfo" parameterType="TJgAccountReceivable" resultMap="BaseResultMap">
		SELECT
		  *
		FROM
		  t_jg_account_receivable
		WHERE project_id = #{projectId}
		  AND opr_id = #{oprId}
		<if test=" null != tradNo and '' != tradNo" >
			AND trad_no = #{tradNo}
		</if>
		<if test=" null != payerName and '' != payerName ">
		 AND payer_name LIKE CONCAT('%',#{payerName},'%') 
		</if>
		<if test=" null != status and '' != status ">
			AND status =  #{status}
		</if>
		<if test=" null != startTime and '' != startTime ">
		 	AND payed_time >  #{startTime}
		</if>
		<if test=" null != endTime and '' != endTime ">
			AND payed_time &lt;  #{endTime}
		</if>
		ORDER BY payed_time DESC
	</select>
	
	<!-- 查询支付汇总信息，收账 -->
	<select id="sumPaymentInfo" parameterType="TJgAccountReceivable" resultType="java.util.Map">
		<!-- 按财务要求这里去掉支出类型的 -->
		SELECT
		    (CASE WHEN SUM(IFNULL(pay_wx,0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_wx,0.0)) END) payWxToal, 
			(CASE WHEN SUM(IFNULL(pay_union,0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_union,0.0)) END) payUnionTotal,
			(CASE WHEN SUM(IFNULL(bank_receipts,0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(bank_receipts,0.0)) END) bankReceiptsTotal, 
			(CASE WHEN SUM(IFNULL(alipay,0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(alipay,0.0)) END) alipayTtotal
		FROM
		  t_jg_account_receivable
		WHERE opr_id = #{oprId}
		AND project_id=#{projectId}
		<include refid="getInfoByCondition"></include>
	</select>


	<select id="sumPaymentInfoForPush" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		sum(IFNULL(pay_wx,0.00)+IFNULL(alipay,0.00)+IFNULL(pay_cash,0.00)+IFNULL(pay_union,0.00)+IFNULL(bank_receipts,0.00)) as amount
		FROM
		t_jg_account_receivable
		WHERE
		total_id IN (
		SELECT
		id
		FROM
		t_jg_total_calculation
		WHERE
		total_id IN (
		SELECT
		id
		FROM
		t_jg_total_calculation
		WHERE
		total_id IN (
		SELECT
		id
		FROM
		t_jg_total_calculation
		WHERE
		receive_id IN (
		SELECT
		user_id
		FROM
		t_jg_staff_grop
		WHERE
		project_id = #{projectId}
		AND role_level = 1
		)
		AND STATUS = 3
		AND project_id = #{projectId}
		)
		AND STATUS = 3
		AND project_id = #{projectId}
		) AND business_type in (1,4)
		)
		<if test=" null != lastPushDate and '' != lastPushDate ">
			<![CDATA[
					AND payed_time > #{lastPushDate}
				]]>
		</if>
		<if test=" null != intervalDays and '' != intervalDays ">
			<![CDATA[
					AND payed_time < #{intervalDays}
				]]>
		</if>
	</select>

	<select id="sumProductfoForPush" parameterType="java.util.Map" resultType="java.util.Map">
	  SELECT

		sum(IFNULL(pay_wx,0.00)+IFNULL(alipay,0.00)+IFNULL(pay_cash,0.00)+IFNULL(pay_union,0.00)+IFNULL(bank_receipts,0.00)) as amount
		FROM
		t_jg_account_receivable
		WHERE total_id IN (
		SELECT id FROM t_jg_total_calculation WHERE total_id IN (
		SELECT id FROM t_jg_total_calculation WHERE total_id IN (
		SELECT id FROM t_jg_total_calculation WHERE receive_id IN (
		SELECT user_id FROM t_jg_staff_grop WHERE project_id = #{projectId} AND role_level = 1
		) ) AND STATUS = 3
		AND project_id =#{projectId}  )
		AND STATUS = 3
		AND project_id = #{projectId}
		) AND business_type in (2,3)
		<if test=" null != lastPushDate and '' != lastPushDate ">
			<![CDATA[
					AND payed_time > #{lastPushDate}
				]]>
		</if>
		<if test=" null != intervalDays and '' != intervalDays ">
			<![CDATA[
					AND payed_time < #{intervalDays}
				]]>
		</if>
	</select>


	
	<select id="sumPaymentInfoCashIn" parameterType = "TJgAccountReceivable" resultType = "java.lang.Double">
		SELECT
		  (CASE WHEN SUM(IFNULL(pay_cash,0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_cash,0.0)) END) payCashTotal
		  FROM
		  t_jg_account_receivable
		WHERE opr_id = #{oprId}
		AND project_id=#{projectId}
		AND business_type in (1,2) 
		<include refid="getInfoByCondition"></include>
	</select>
	
	<select id="sumPaymentInfoCashOut" parameterType = "TJgAccountReceivable" resultType = "java.lang.Double">
		SELECT
		  (CASE WHEN SUM(IFNULL(pay_cash,0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_cash,0.0)) END) payCashTotal
		  FROM
		  t_jg_account_receivable
		WHERE opr_id = #{oprId}
		AND project_id=#{projectId}
		AND business_type in (3,4) 
		<include refid="getInfoByCondition"></include>
	</select>
	
	
	<!-- 查询条件 -->
	<sql id = "getInfoByCondition">
		<if test=" null != tradNo and '' != tradNo" >
			AND trad_no = #{tradNo}
		</if>
		<if test=" null != payerName and '' != payerName ">
		 	AND payer_name LIKE CONCAT('%',#{payerName},'%') 
		</if>
		<if test=" null != status and '' != status ">
			AND status =  #{status}
		</if>
		<if test=" null != startTime and '' != startTime ">
		 	AND payed_time > #{startTime}
		</if>
		<if test=" null != endTime and '' != endTime ">
			AND payed_time &lt; #{endTime}
		</if>
	</sql>
	
	
	<!-- 查询未结算统计汇总信息 -->
	<select id="sumNotGavenAmountInfo" parameterType="TJgAccountReceivable" resultType="java.util.Map">
			SELECT
				  (
				    CASE WHEN 
				    SUM(
				      IFNULL(pay_wx, 0.0) + IFNULL(pay_cash, 0.0) + IFNULL(pay_union, 0.0) + IFNULL(bank_receipts, 0.0) + IFNULL(alipay, 0.0)
				    ) IS NULL THEN 0.0 ELSE SUM(
				      IFNULL(pay_wx, 0.0) + IFNULL(pay_cash, 0.0) + IFNULL(pay_union, 0.0) + IFNULL(bank_receipts, 0.0) + IFNULL(alipay, 0.0)
				    ) END
				  ) totalAmount,
				  (SELECT
				   		(
				   			CASE WHEN 
			      			SUM( IFNULL(pay_wx,0.0) + IFNULL(pay_cash,0.0) + IFNULL(pay_union,0.0))
							IS NULL THEN 0.0 ELSE SUM( IFNULL(pay_wx,0.0) + IFNULL(pay_cash,0.0) + IFNULL(pay_union,0.0)) END
						) paybackTotal
				  FROM
				    t_jg_account_receivable
				  WHERE business_type in (3,4) 
				    AND opr_id = #{oprId}
				    AND status = 2
				    AND project_id = #{projectId}) paybackAmount,
				  (SELECT
				    (CASE WHEN SUM(IFNULL(pay_wx, 0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_wx, 0.0)) END) payWxTotal
				  FROM
				    t_jg_account_receivable
				  WHERE STATUS = 2
				    AND opr_id =#{oprId}
				    AND project_id = #{projectId}) payWxTotal,
				  (SELECT
				    (CASE WHEN SUM(IFNULL(pay_union, 0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_union, 0.0)) END) payUnionTotal
				  FROM
				    t_jg_account_receivable
				  WHERE STATUS = 2
				    AND opr_id =#{oprId}
				    AND project_id = #{projectId}) payUnionTotal,

				  (SELECT
				    (CASE WHEN SUM(IFNULL(pay_cash, 0.0)) IS NULL THEN 0.0 ELSE SUM(IFNULL(pay_cash, 0.0)) END) payCashTotal
				  FROM
				    t_jg_account_receivable
				  WHERE STATUS = 2
				    AND opr_id = #{oprId}
				    AND business_type in (1,2)
				    AND project_id = #{projectId}) payCashTotal,
				    
				  (SELECT
				    (CASE WHEN SUM( IFNULL(bank_receipts,0.00) ) IS NULL THEN 0.0 ELSE SUM( IFNULL(bank_receipts,0.00) ) END ) bankReceipts
				  FROM
				    t_jg_account_receivable
				  WHERE STATUS = 2
				    AND opr_id = #{oprId}
				    AND project_id = #{projectId}) bankReceipts,
				    
				   (SELECT
				    (CASE WHEN SUM( IFNULL(alipay,0.00) ) IS NULL THEN 0.0 ELSE SUM( IFNULL(alipay,0.00) ) END ) alipay
				  FROM
				    t_jg_account_receivable
				  WHERE STATUS = 2
				    AND opr_id = #{oprId}
				    AND project_id = #{projectId}) alipayTotal,
				    
				  (SELECT
				    CASE WHEN SUM( IFNULL(opr_amount,0.00) ) IS NULL THEN 0.0 ELSE SUM( IFNULL(opr_amount,0.00) ) END
				  FROM
				    t_jg_give_account_detail
				  WHERE opr_id = #{oprId}
				    AND project_id = #{projectId}
				    AND opr_type = 1
				    AND TYPE = 1
				    AND STATUS != 2
				    AND total_id IS NULL) givenAmount,
				  (SELECT
				    CASE WHEN SUM( IFNULL(opr_amount,0.00) ) IS NULL THEN 0.0 ELSE SUM( IFNULL(opr_amount,0.00) ) END
				  FROM
				    t_jg_give_account_detail
				  WHERE total_id IS NULL
				    AND TYPE = 2
				    AND opr_id =#{oprId}
				    AND project_id = #{projectId}) otherCashTotal
				FROM
				  t_jg_account_receivable
				WHERE STATUS = 2
				  AND opr_id =#{oprId}
				  AND business_type in (1,2)
				  AND project_id =#{projectId}
	</select>
	

	<select id="getNotGivenCashAmount" parameterType="java.lang.String" resultType="java.lang.Double">
		SELECT
		  (SELECT
		    SUM(pay_cash)
		  FROM
		    t_jg_account_receivable
		  WHERE opr_id = #{0}
		  	AND project_id=#{1}
		    AND STATUS = 2) -
		  (SELECT
		     CASE WHEN  SUM(opr_amount) IS NULL THEN 0 ELSE SUM(opr_amount) END
		  FROM
		    t_jg_give_account_detail
		  WHERE total_id IS NULL
		    AND opr_id = #{0} 	AND project_id=#{1}) AS notGaven
	</select>


	<select id="listPageNotGivenInfos" parameterType="TJgAccountReceivable" resultType="java.util.Map">
		SELECT
		  ar.trad_no tradNo,
		  ar.payed_time payedTime,
		  ar.opr_name oprName,
		  ts.staff_number staffNumber,
		  IFNULL(ar.pay_wx,0.0) payWx,
		  IFNULL(ar.pay_cash,0.0) payCash,
		  IFNULL(ar.pay_union,0.0) payUnion,
		  IFNULL(ar.alipay,0.0) alipay,
		  IFNULL(ar.bank_receipts,0.0) bankReceipts
		FROM
		  t_jg_account_receivable ar,
		  t_sys_user ts
		WHERE ar.opr_id = ts.user_id
		  AND ar.status = '2'
		  AND ar.opr_id = #{oprId}
		  AND ar.project_id=#{projectId}
		  ORDER BY payed_time DESC
	</select>

	<!-- 收银员结算后需要回写收账信息的total_id 和 修改结算状态 -->
	<update id="updateStasusAndTotalId" parameterType="TJgAccountReceivable" >
		UPDATE t_jg_account_receivable SET total_id=#{totalId} ,STATUS=1 WHERE opr_id=#{oprId} AND project_id=#{projectId} AND status = 2
	</update>
	
	
	<select id="listPageReceiveByTotalId" parameterType="TJgAccountReceivable" resultMap="BaseResultMap">
		SELECT 
			trad_no,
			payer_name,
			payed_type,
			payed_time,
			pay_wx,
			pay_cash,
			pay_union,
			alipay,
			bank_receipts,
			opr_name,
			business_type,
			su.staff_number
		FROM t_jg_account_receivable ar,t_sys_user su WHERE ar.opr_id=su.user_id AND ar.total_id=#{totalId}
	</select>
	
	<update id="updateStatusBatch" parameterType="java.util.List">
		UPDATE t_jg_account_receivable SET STATUS=2 ,total_id = NULL 
		WHERE total_id IN 
		<foreach collection="list" item="id" open="(" close=")" separator=",">
  			#{id}
  		</foreach>
	</update>
	
	
	<select id="listPageAccountReceiveForKJ" parameterType="TJgAccountReceivable" resultMap="BaseResultMap">
		SELECT
		  trad_no,
		  payer_name,
		  payed_time,
		  pay_wx,
		  pay_cash,
		  pay_union,
		  opr_id,
		  opr_name
		FROM
		  t_jg_account_receivable
		WHERE opr_id IN
		  (SELECT
		    user_id
		  FROM
		    t_jg_staff_grop
		  WHERE pid IN
		    (SELECT
		      user_id
		    FROM
		      t_jg_staff_grop
		    WHERE pid IN
		      (SELECT
		        user_id
		      FROM
		        t_jg_staff_grop
		      WHERE pid = #{oprId} AND project_id=#{projectId})))
		  AND STATUS = 2 AND project_id=#{projectId}
	</select>
	
	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO t_jg_account_receivable 
		(
			id,
			trad_no,
			payer_name,
			payed_type,
			payed_time,
			pay_wx,
			pay_cash,
			pay_union,
			status,
			opr_id,
			opr_name,
			project_id,
			project_name,
			total_id,
			relation_id
		)
		VALUES
		<foreach collection="list" item="item" open="" close="" separator=",">
			(
				#{item.id},
				#{item.tradNo},
				#{item.payerName},
				#{item.payedType},
				SYSDATE(),
				#{item.payWx},
				#{item.payCash},
				#{item.payUnion},
				#{item.status},
				#{item.oprId},
				#{item.oprName},
				#{item.projectId},
				#{item.projectName},
				#{item.totalId},
				#{item.relationId}
			)
		</foreach>
	</insert>
	
	<select id="findById" parameterType="String" resultMap="BaseResultMap">
		select * from t_jg_account_receivable where id = #{0}
	</select>
	
	<select id="getIsGiveBackProduct" parameterType="String" resultType="java.lang.Integer">
		select IFNULL(status,0) from t_jg_account_receivable where relation_id = (
			select batch_no from t_product_order where id = #{id} 
			) LIMIT 1 
	</select>
	
	<select id="getPushInfoByFinece" parameterType = "String" resultMap = "BaseResultMap">
		
		SELECT
			*
		FROM
			t_jg_account_receivable
		WHERE
			total_id IN (
				SELECT
					id
				FROM
					t_jg_total_calculation
				WHERE
					total_id IN (
						-- 收银组长
						SELECT
							id
						FROM
							t_jg_total_calculation
						WHERE
							total_id IN (
								-- 出纳
								SELECT
									id
								FROM
									t_jg_total_calculation
								WHERE
									receive_id IN (
										SELECT
											user_id
										FROM
											t_jg_staff_grop
										WHERE
											project_id = #{projectId}
										AND role_level = 1
									)
								AND STATUS = 1
							)
						AND STATUS = 3
						AND project_id = #{projectId}
					)
			)
		
	</select>
	
	
	<delete id="deleteById" parameterType="String">
		delete from t_jg_account_receivable where id = #{0}
	</delete>
	
	<delete id="deleteByRelationid" parameterType="String">
		delete from t_jg_account_receivable where relation_id = #{0}
	</delete>
	
	
</mapper>